    body{
        background-color: rgb(1, 14, 51);
        border-radius: 29px;
        color: rgb(255, 255, 255);
        font-size: medium;
        padding: 32px;
        font-family:cursive;
        font-weight: 300;
        margin: 0px;
        overflow-x: hidden;
}